th.blue {
	background: #08C;
	color: #FFF;
}
.main {
	margin-top: 3em;
}
p {
	line-height: 30px;
}
code {
	line-height: 60px;
}
.shadows1{    padding:2%;
              margin-bottom: 3%;
              -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.58);
              -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.58);
              box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.58);
        
}
.hide{
        display: none;
}
 